html, body {
    background:white;
    margin:0;
    padding:0;
}

header.jumbotron{
    width:100vw;
    min-height:80vh;
    background-image:url(img/hero@2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav.main-nav{
    width:100vw;
    height:80px;
    background:blue;
}